## Stardew Valley Mod ##
# Ignore build output
[Bb]in/
[Oo]bj/

# Ignore the deployed mod folder if your project is outside the Mods folder.
# The name should match your mod's folder name in `Stardew Valley/Mods`.
DiscordAICompanion/


## General ##
# Rider/ReSharper
*.DotSettings.user

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
node_modules